### LR UCI Dataset

In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt
import seaborn as sb
import statistics as state

In [2]:
#df=pd.read_csv("glass.csv")
ColumnNames=['Id','RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']
df=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/glass/glass.data', names=ColumnNames)
df.drop(["Id"], axis=1, inplace=True)
df.to_csv('glass_lr.csv')
df.head(214)

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 10 columns]

### setting the matrixes

In [3]:
X =df.iloc[:,0:9]
print(X)
Y = df.iloc[:,9:10]
print(Y)

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0
..       ...    ...   ...   ...    ...   ...   ...   ...  ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0

[214 rows x 9 columns]
     Type
0       1
1       1
2       1
3       1
4       1
..    ...
209     7
210     7
211     7
212     7
213     7

[214 rows x 1 columns]

### Calculating Slope,Intercept & R-square

In [4]:
regr = linear_model.LinearRegression()
regr.fit(X, Y)

print('Intercept: \n', regr.intercept_)
print('Coefficients: \n', regr.coef_)
rsquare = regr.score(X,Y)*100
print('R-Square: %.2f' %rsquare + '%')

Intercept:
 [-204.20713377]
Coefficients:
 [[87.00124592  1.10470472 -0.32298427  1.59225253  0.77683073  0.41084106
   0.21215116  0.81989218 -0.75293837]]
R-Square: 74.65%

### Predicted Value of Class-Type

In [5]:
Type=regr.predict(X)
print(Type.T)
print(np.shape(Type))

[[1.13396478 2.53114175 2.46618367 1.6702613  1.9837305  1.69049656
  1.90628474 1.7326234  2.48345998 1.81978909 1.75462749 1.58775572
  1.76384683 1.63781519 1.66072753 1.7065193  1.40657644 1.67990751
  1.92255749 2.19360769 1.60619268 1.44126517 1.4416257  1.76716106
  1.85872443 1.73710475 2.02872212 1.76150847 1.71914289 1.85479796
  1.48712091 1.6461292  1.52905721 1.80938616 1.61522788 1.70677371
  2.20819509 1.73962147 1.26110593 1.26110593 1.49217065 1.60789226
  2.0453942  1.17278892 1.25549855 1.90407494 1.76037912 1.61935737
  0.96535895 1.95100402 0.86861096 1.82924145 2.39775539 2.27186799
  2.32966098 1.98995917 0.85036118 1.73394853 2.01397568 1.77674614
  1.91923621 2.38488841 1.06769606 1.37992275 1.3004869  1.80004389
  0.93222994 1.00991301 1.08199762 1.25708108 3.03285285 1.38965276
  2.12469329 2.3294098  2.13466952 2.08339433 2.06873796 1.90008217
  2.27546936 2.30295645 2.54381407 2.23945334 1.94342897 2.00028592
  3.67976912 2.10130296 2.26201544 2.17286096 1.89307622 2.23168767
  0.88719039 1.83000935 2.16069133 2.25662586 1.99924579 2.00871566
  1.08114053 1.18394    2.53681448 2.38078337 2.13384654 2.01321338
  1.57921094 1.2671816  2.18929701 3.05539347 3.8730249  2.23257474
  4.63816375 4.0912168  2.23047328 1.9903055  2.76801267 1.80893095
  1.29436969 1.76930402 1.59952717 2.54377172 1.79912336 2.13239675
  1.69087332 1.94744752 2.12370454 2.55560612 1.95718028 1.79884562
  1.44919628 2.95562461 3.45974003 3.66566344 3.7960431  4.06436431
  1.58141185 1.82388891 1.81691289 1.2263944  1.39999781 2.00233248
  2.13092499 2.20968969 2.2621511  1.55925106 1.6980666  2.36980643
  1.63242321 1.08645549 1.89794895 1.86423209 1.83912785 0.83703175
  2.14821752 1.58326564 1.39453461 1.8403135  1.42570687 1.79052252
  1.96959148 1.20925347 2.17136166 2.20160485 2.16549185 1.42712598
  1.31177042 5.82813571 3.24270423 2.04424903 2.03656868 4.49196255
  4.81284792 4.81793044 4.54969948 5.44229933 5.55724848 3.99576032
  3.47038259 4.00916544 3.37948277 2.92513628 3.90751024 3.83662907
  4.74566353 5.4465658  5.73593024 4.44580961 6.99754324 3.66233223
  4.70885822 2.38255594 4.19800146 5.33398089 4.5553815  7.12448755
  7.09641465 7.04640878 6.97210371 6.95783854 6.61280796 7.12831432
  7.00159309 7.34862111 7.30848978 4.23478238 7.37709923 7.20814984
  7.17015071 6.98131594 6.97260257 7.5954086  6.99862299 7.16815708
  7.25243428 7.34131167 6.97453183 7.00142492]]
(214, 1)